<style>
	.footer-bkg{
		background-color: darkgoldenrod;
		height: 160px;
	}
	footer{
		background-color: darkgoldenrod;
	}
	.copyright{
		color: rgba(45,25,35,.6);
		transition: color;
		transition-duration: 5s;
	}
	.copyright:hover{
		color: black;
	}
</style>
<footer>

<div class="footer-bkg text-center">
	<img style="margin-top: 15px;" width="150px" src="/MeinHaus-Logo-Footer.png">
	<br/>
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	  	<a class="nav-link" href="/api/admin/index">Index</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/api/admin/admins">Admins</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/api/admin/login">Log-In</a>
	  </li>
	</ul>
	<p class="text-left disabled copyright">copyright Mein Haus 2021 (c)</p>
</div>
</footer>