<style>
	.footer-bkg{
		background-color: black;
		height: 160px;
	}
	footer{
		background-color: black;
	}
	.copyright{
		color: rgba(45,25,35,.6);
		transition: color;
		transition-duration: 5s;
		text-decoration: none;
	}
	.copyright:hover{
		color: white;
	}
</style>
<footer>

<div class="footer-bkg text-center">
	<img style="margin-top: 15px;" width="150px" src="/MeinHaus-Logo-Footer.png">
	<br/>
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link" href="/api/about">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/api/contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/api/downloads">Downloads</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="/api/store">Store</a>
	  </li>
	</ul>
	<p class="text-left disabled copyright">copyright Mein Haus 2021 <a class="copyright" href="/api/admin/">(c)</a></p>
</div>
</footer>