<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
    	*{
    		box-sizing: border-box;
    		font-family: 'Bebas Neue', cursive;
    	}
    	.navbar-brand{
    		margin-left: 5px;
    	}
    	.navbar-toggler-icon{
    		background-image: url('/MeinHaus-navicon.png');
    	}
    	.navbar-expand-lg{
    		background-color: black;
    	}
    	.nav-link{
    		text-decoration: none;
    		color: white;
    		transition: color;
    		transition-duration: 3s;
    	}
    	.nav-link:hover{
    		color: crimson;
    	}
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
      }
      .btn btn-default{
        color: white;
        transition: color;
        transition-duration: 3s;
      }
      .btn btn-default: hover{
        color: crimson;
      }
      @media only screen and (max-width: 600px){
        
      }
    </style>
    <title>Header</title>
  </head>
  <body>
    <div id="myHeader">
    	<div class="navbar navbar-expand-lg">
    		<div class="navbar-brand">
    			<a href="/"><img width="220px" src="/MeinHaus-Logo.png"></a>
    		</div>
    		<div class="navbar-toggler" data-toggle="collapse" data-target="#Menu">
    			<span class='navbar-toggler-icon'></span>
    		</div>
    		<div class="collapse navbar-collapse" id="Menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-center" href="/api/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="/api/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="/api/downloads">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center disabled" href="/api/store">Store</a>
            </li>
            <li>
              <form action='/' method="GET">
                <div class="row">
                <div class="text-center col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <input style="border-radius: 70px; text-align: center;" type='text' name='search' placeholder='Search Articles...'/>
                </div>
                <div class="text-center col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <input style="color: white;" type='submit' value="search" class="btn btn-default" />
                </div>
                </div>
                </div> 
              </form>
            </li>
          </ul>
        </div>
    	</div>
    </div>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script>
window.onscroll = function() {myFunction()};

  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>
  </body>
</html>