<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9c0202">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
	<title>Downloads - Mein Haus</title>
	<meta name="description" content="Please do take advantage of all the content that is available for free download. We have weekly workouts, full workout programs, as well as artwork for your desktop, and other mobile devices.">
	<style>
		.display{
    		text-decoration: none;
    		color: black;
    		transition: color;
    		transition-duration: 3s;
    	}
    	.display:hover{
    		color: crimson;
    	}
    	.lineup{
    		border-bottom: 4px solid rgba(50, 50, 50, .3);
    		padding-top: 12px;
    		width: 35%;
    	}
    	.desc{
    		font-family: 'Barlow Condensed', sans-serif;
    	}
    	.minhead{
    		font-family: 'Permanent Marker', cursive;
    	}
    	form{
    		font-family: 'Barlow Condensed', sans-serif;
    	}
    	.button{
    		border-radius: 55px;
    		border: none;
    		transition: background-color;
    		transition-duration: 5s;
    	}
	</style>
</head>
<body>
<%- include('./shared/header.ejs') %>
<div>
<div class="jumbotron">
<img width="100%" src="/Downloads.png" alt="Please do take advantage of all the content that is available for free download. We have weekly workouts, full workout programs, as well as artwork for your desktop, and other mobile devices." />
</div>
</div>
<div class="container">
<br/>
<h1 class="display lineup" style="padding-top: 5px;">Downloads</h1>
<br/>
<h5 class="desc text-center">Select any of the workouts, workout programs, artwork pieces and click button to download.</h5>
<br/>
<div class='row'>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="65%" src="/BombSquad-PDF.jpg" alt="Bomb Squad: Bum Rush Da Spot 6 Week Trainer PDF Download." /></div>
    <br/>
	<h5 class="minhead text-center">Bum Rush Da Spot <br/> Workout Programme</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename1').value">
    <select id="filename1">
    	<option value="/api/downloads">Select Document</option>
        <option value="/00_DaBumRush_01.pdf">Bum Rush Da Spot - 6 Week Trainer</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="65%" src="/DemolitionUnit-PDF-Byke.jpg" alt="Demolition Unit 4 Week Trainer for more Strength and Muscular Endurance." /></div>
    <br/>
	<h5 class="minhead text-center">Demolition Unit <br/> Workout Programme</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename2').value">
    <select id="filename2">
    	<option value="/api/downloads">Select Document</option>
        <option value="/00_DemolitionUnit_00.pdf">Demolition Unit - 4 Week Trainer</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="45%" src="/MHO-76505.jpg" alt="Mein Haus alternative bomb squad logo download for portable devices." /></div>
    <br/>
	<h5 class="minhead text-center">Mein Haus <br/> Limited</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename3').value">
    <select id="filename3">
    	<option value="/api/downloads">Choose Device</option>
        <option value="/MeinHaus-Bombs-desktop.jpg">Desktop</option>
        <option value="/MeinHaus-Bombs-iPhoneX.jpg">iPhone</option>
        <option value="/MeinHaus-Bombs-iPad.jpg">iPad</option>
        <option value="/MeinHaus-Bombs-samsung-galaxy.jpg">Samsung Galaxy</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="45%" src="/MeinHaus-bumrush-76505.jpg" alt="Bum Rush Da Spot Type and Bomb artwork download for portable devices." /></div>
    <br/>
	<h5 class="minhead text-center">Bum Rush <br/> Explosives</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename4').value">
    <select id="filename4">
    	<option value="/api/downloads">Choose Device</option>
        <option value="/BumRush-Desktop.jpg">Desktop</option>
        <option value="/BumRush-iPhoneX.jpg">iPhone</option>
        <option value="/BumRush-iPad.jpg">iPad</option>
        <option value="/BumRush-samsung-galaxy.jpg">Samsung Galaxy</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="45%" src="/Ruminations-76505.jpg" alt="Mein Haus Ruminations artwork download for portable devices." /></div>
    <br/>
	<h5 class="minhead text-center">Ruminations</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename5').value">
    <select id="filename5">
    	<option value="/api/downloads">Choose Device</option>
        <option value="/MeinHaus-Ruminations-desktop.jpg">Desktop</option>
        <option value="/MeinHaus-Ruminations-Galaxy.jpg">Samsung Galaxy Note</option>
        <option value="/MeinHaus-Ruminations-iphone.jpg">iPhone</option>
        <option value="/MeinHaus-Ruminations-iPad.jpg">iPad/Tablet</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="45%" src="/CTC-76505.jpg" alt="Complete Total Chaos artwork download for portable devices." /></div>
    <br/>
	<h5 class="minhead text-center">Complete Chaos</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename6').value">
    <select id="filename6">
    	<option value="/api/downloads">Choose Device</option>
        <option value="/CTC-desktop.jpg">Desktop</option>
        <option value="/CTC-iphonex.jpg">iPhone</option>
        <option value="/CTC-iPad.jpg">iPad</option>
        <option value="/CTC-samsung-galaxy.jpg">Samsung Galaxy</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
<div class="col-xs col-sm-6 col-md-4 col-lg-6">
	<div class="text-center"><img width="45%" src="/UBiS-76505.jpg" alt="Unmatched Beauty in Strength typography artwork download for portable devices." /></div>
    <br/>
	<h5 class="minhead text-center">Unmatched Beauty <br/> in Strength</h5>
	<form class="text-center" onsubmit="this.action = document.getElementById('filename7').value">
    <select id="filename7">
    	<option value="/api/downloads">Choose Device</option>
        <option value="/UBiS-desktop.jpg">Desktop</option>
        <option value="/UBiS-iPhonex.jpg">iPhone</option>
        <option value="/UBiS-iPad.jpg">iPhone</option>
        <option value="/UBiS-samsung-galaxy.jpg">Samsung Galaxy</option>
    </select>
    <br/>
    <br/>
    <input type="image" style="padding-top: 5px;"  width="50px" height="auto" src="/fingerprint.png" value="Download" class="button" />
</form>
<br/>
</div>
</div>
<br/>
<p class="text-center"><a href="https://www.instagram.com/" target="_blank"><img style="width: 30px" src="/iconfinder_instagram_5367338.png" alt="Mein Haus link to instagram. Have a look!"></a><a href="https://www.tiktok.com/" target="_blank"><img style="width: 30px" src="/iconfinder_tiktok_5367362.png" alt="Mein Haus link to TikTok. Check us out!"></a><a href="mailto:thomas.junior.davis@gmail.com" target="_blank"><img style="width: 30px" src="/iconfinder_gmail_5367355.png" alt="Mein Haus E-Mail. Email us."></a><a href="https://www.substack.com/" target="_blank"><img style="width: 20px" src="/iconfinder_substack_5367411.png" alt="Mein Haus link to Substack. Subscribe and learn more about the Iron Citadel."></a></p>
</div>
<br/>

<%- include('./shared/footer.ejs') %>
<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>